PRIVATE_KEY=your_wallet_private_key_here
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your_alchemy_api_key_here
PINATA_API_KEY=your_pinata_api_key_here
PINATA_SECRET_KEY=your_pinata_secret_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
HF_API_KEY=your_huggingface_api_key_here
